<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148266851676-g8e1q923mvo5u0susqm1hb25koehnuof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148266851676-g8e1q923mvo5u0susqm1hb25koehnuof</string>
	<key>API_KEY</key>
	<string>AIzaSyDdv_aGAlWJJTZDY3Inn6NWdsnJR9r0Hz8</string>
	<key>GCM_SENDER_ID</key>
	<string>148266851676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bicerbaris.KPICarrefoursa</string>
	<key>PROJECT_ID</key>
	<string>carrefoursa-fcacc</string>
	<key>STORAGE_BUCKET</key>
	<string>carrefoursa-fcacc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148266851676:ios:10bf8d14042ead79f6f599</string>
</dict>
</plist>